<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>PlayListDispatcher</display-name>

	<servlet>
		<description></description>

		<servlet-name>PlayListDispatcher</servlet-name>
		<servlet-class>jun.playlist.frontcontrol.PlayListDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlayListDispatcher</servlet-name>
		<url-pattern>*.pl</url-pattern>
	</servlet-mapping>
</web-app>