<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDept</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>min.dept.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListAttr</display-name>
    <servlet-name>ListAttr</servlet-name>
    <servlet-class>min.servlet.test.ListAttr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAttr</servlet-name>
    <url-pattern>/ListAttr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>min.servlet.file.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>min.servlet.file.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheck</display-name>
    <servlet-name>IdCheck</servlet-name>
    <servlet-class>min.servlet.ajax.IdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheck</servlet-name>
    <url-pattern>/IdCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdSave</display-name>
    <servlet-name>IdSave</servlet-name>
    <servlet-class>min.servlet.ajax.IdSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdSave</servlet-name>
    <url-pattern>/IdSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdUpdate</display-name>
    <servlet-name>IdUpdate</servlet-name>
    <servlet-class>min.servlet.ajax.IdUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdUpdate</servlet-name>
    <url-pattern>/IdUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdDelete</display-name>
    <servlet-name>IdDelete</servlet-name>
    <servlet-class>min.servlet.ajax.IdDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdDelete</servlet-name>
    <url-pattern>/IdDelete</url-pattern>
  </servlet-mapping>
</web-app>